
<div class="container-fluid" id="clientsList">
    <div class="container mt-4">
        <h2 class="mb-4">Список клиентов</h2>

        <div class="mt-4">
            <div id="clientsTabulator"></div>
        </div>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="~/js/Admin/ClientsList.js"></script>