<script type="text/x-template" id="UserDataTemplate">
    <div>
        <b-card class="mt-2" header="Личные данные" header-tag="header">
            <template>
                <label>
                    пошёл нахуй!
                </label>
            </template>
        </b-card>
    </div>
</script>
<script type="text/x-template" id="UserOrdersTemplate">
    <div>
        <b-card class="mt-2" header="Мои заказы" header-tag="header">
            <template>
                <label>
                    пошёл в пизду!
                </label>
            </template>
        </b-card>
    </div>
</script>
<script type="text/x-template" id="UserDiscountsTemplate">
    <div>
        <b-card class="mt-2" header="Мои скидки" header-tag="header">
            <template>
                <label>
                    пошёл в ростов!
                </label>
            </template>
        </b-card>
    </div>
</script>