
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="profileId" class="container">
    <div class="row">
        <div class="col-2" style="margin-top:75px">
            <ul v-for="tab in tabs">
                <li v-bind:key="tab"
                        v-bind:class="['tab-button', { active: currentTab === tab }]"
                        v-on:click="currentTab = tab">
                    {{ tab.name }}
                </li>
            </ul>
            
        </div>
        <div class="col-10">
            <component v-bind:is="currentTabComponent" class="tab mt-3 pt-3" style="margin-left:40px; padding-left: 50px"></component>
        </div>
    </div>
</div>










<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="~/js/Profile/FullMenuList.js"></script>
<script src="~/js/Profile/Profile.js"></script>
<script src="~/js/Profile/Components.js"></script>
