@model Oguz.Models.Style

@{
    ViewData["Title"] = "Style";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <input type="hidden" id="prgoressBarStep" name="step" value="style">
    <div id="progressBar"></div>

    <div class="container">
        <div class="product_description">
            <h2 class="product_heading">Custom Curtains</h2>
            <p>
                Starting prices are for a 40”x80” curtain.
                <br />
                Design yours now and we’ll ship it your way in 10 days or less
            </p>
            <p>Select your style below to get started.</p>
        </div>
    </div>