/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    //position: relative;
    height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;
    font-family: 'SofiaProRegular' !important;
    overflow-y: hidden;*/
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.navbar-collapse.collapse {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.subscribe {
    background-color: #f2f2f2;
}

/*.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    min-height: 400px; /* Vertically center the text there */
background-color: #1b1f23;
}

.footer {
    grid-row-start: 2;
    grid-row-end: 3;
    min-height: 200px; /* Vertically center the text there */
    background-color: #1b1f23;
}

.footer {
    width: 100%;
    white-space: nowrap;
    min-height: 200px; /* Vertically center the text there */
    background-color: #1b1f23;
}

li {
    list-style-type: none;
}


.navbar-nav {
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    margin-bottom: -4px;
    text-align: left;
    float: none;
}
/*basic*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul {
    margin: 0;
}
a:hover {
    text-decoration: none;
}
/*header*/
.caret-down {
    margin-left: 2px;
    color: #343a40;
}
.basket {
    display: flex;
    padding-top: 5px;
}
#basket-sum {
    margin-left: 15px;
    line-height: 30px;
}
.basket-icon {
    color: #1b1f23;
    position: relative;
}
#basket-count {
    position: absolute;
    text-align: center;
    color: #fff;
    z-index: 1;
    top: -3px;
    right: -7px;
    background-color: #ffb5a0;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    font-size: 10px;
}
.smallDevice-header {
    display: none;
}
.nav-menu ul li a {
    padding-right: 15px;
}
.bigDevice-header, .smallDevice-header {
    background-color: rgba(242,242,242,0.9);
    height: 60px;
}
.nav-brand {
    color: #1b1f23;
}
.bigDevice-header {
    padding-top: 4px;
}
@media only screen and (max-width : 570px) {
    .smallDevice-header {
        display: block;
    }

    .bigDevice-header {
        display: none;
    }

    .navbar-collapse {
        background-color: rgba(242,242,242,0.9);
    }

    .navbar-nav {
        text-align: center;
    }

}

.nav-brand, .navbar-brand {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1px;
}


.subscribe {
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

.footer a {
    color: #7f8c8d;
}

    .footer a:hover {
        color: white;
    }


input[type="email"] {
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    color: #cccccc;
    font-size: 16px;
    height: 42px;
    font-family: Tahoma;
    padding-left: 10px;
    padding-right: 10px;
    width: 270px;
}

    input[type="email"]:focus {
        color: #000000;
        border: 1px solid #000000
    }

input[type="submit"] {
    border: 1px solid #cccccc;
    height: 35px;
    background-color: #01796f;
    color: white;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

input[type="button"] {
    border: 1px solid #cccccc;
    height: 35px;
    background-color: #01796f;
    color: white;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
}


.pt-30px {
    padding-top: 30px;
}

.pl-40px {
    padding-left: 40px;
}

.wrap-normal {
    white-space: normal;
}

.CRUD-container {
    padding-top:60px;
    padding-bottom:60px;
}
.CRUD-container img {
    max-width: 600px;
    max-height: 500px;
}
/*choose style page*/
.product_description {
    text-align: center;
    margin-bottom: 50px;
}
.product_heading {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    text-transform: none;
    line-height: 1.5;
    color: #333333;
    letter-spacing: 0px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
}
.product_description p {
    font-size: 22px;
}
/*progress bar*/
.progressBar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    position: relative;
    max-width: 50%;
}
.progressBar_container li {
    list-style-type: none;
    z-index: 1;
}
.progressBar_step {
    background-color: #fff;
    border-radius: 50%;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    width: 25px;
    padding-bottom:5px;
}
#orderProgressBar {
    margin: 50px auto;
    background-color: #f3f3f3;
    padding: 15px 0px 10px;
}
.progressBar_step-text {
    font-size: 16px;
}


.progressLine {
    position: absolute;
    height: 1px;
    width: calc(100% - 50px);
    background: #ccc;
    bottom: 70%;
}

.active_step {
    background-color: #ffb5a0;
}

.completed_step {
    background-color: #3CB371;
}

/*product/order*/
.product-wrapper {
    margin-bottom: 50px;
}
.product-image {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.product-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
}
.product-description {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
}
.product-description p {
    margin-bottom: 10px;
}
.product-name {
    margin-top: 10px;
}
.selectButton {
    background: #ffb5a0;
    color: #ffffff;
    border: 1px solid #ffb5a0;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
    min-height: 42px;
    height: 40px;
    line-height: 1.2;
    vertical-align: top;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 1px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all 0.2s linear;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.selectButton:hover {
    background: #de9f8e;
    border: 1px solid #de9f8e;
    color: #fff;
}
/*color view*/
.material p {
    margin-bottom: 10px;
}
.material-price {
    font-size: 18px;
}
.material-colors {
    margin-top: 15px;
    margin-bottom: 15px;
    letter-spacing: -.5px;
}
.color {
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #fff;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.color:focus {
    outline: none;
}
.material-image {
    height: 100%;
    position: relative;
}
.material-image img {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(~/Images/Colors/red.jpg);
}

.swatch-img img{
    max-height: 100%;
    max-width: 570px;
}


.active-color {
    border: 2px solid #006400;
}

.userData {
    padding-top: 20px;
    border: 2px solid #006400;
}

.inputWithIcon input {
    padding-left: 53px !important;
}

.inputWithIcon {
    position: relative;
}

    .inputWithIcon i {
        position: absolute;
        left: 10px;
        top: 1px;
        background-color: #01796f;
        color: white;
        transition: .3s;
    }

    .inputWithIcon input:focus + i {
        color: yellow;
    }

.f-16{
    font-size: 16px;
}

.scale-140-per {
    transform: scale(1.4);
}

.loginContainer {
    margin: 80px auto 60px auto;
    padding: 40px 30px 30px 30px;
    align-content: center;
    border-radius: 7px;
    background: #f2f2f2;
}

.email-icon {
    padding: 11px 26px 13px 7px;
}

.pass-icon {
    padding: 12px 23px 12px 10px;
}

.sign-up {
    text-align: center;
    font-size: 16px;
}

    .sign-up a {
        text-decoration: underline;
        color: #01796f;
        font-weight: 600;
    }

        .sign-up a:hover {
            color: #42b7e8;
        }

.centr-container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.inLine {
    display: inline-block;
}


.defaultUserIcon {
    margin-left: calc(100% / 2 - 50px);
    margin-top: -130px;
    max-height: 100px;
    max-width: 100px;
}

.centr-container h2 {
    text-align: center;
    padding-right: 5px;
}

.login-button {
    background-color: #0F4C81;
    width: 120px;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

#loginForm .form-control {
    border-radius: 5px;
    border: 2px solid #eceeee;
    font: 16px 'Ubuntu', sans-serif;
    padding: 10px 12px;
    height: 40px;
}

    #loginForm .form-control:focus {
        border-color: #01796f !important;
        border: 2px solid #01796f;
        outline: 0;
        box-shadow: none;
    }

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.contacts-container {
    max-width: 500px;
    margin: 80px auto 60px auto;
    padding: 40px 30px 30px 30px;
    align-content: center;
    border-radius: 7px;
    background: #01796f;
    color: white
}

.bg-contacts{
    background-color:aquamarine;
}

.container-pb {
    width: 100%;
    position: absolute;
    z-index: 1;
}

.progressbar li {
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
}

.progressbar {
    counter-reset: step;
}

    .progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 30px;
        height: 30px;
        border: 2px solid #bebebe;
        display: block;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        line-height: 27px;
        background: white;
        color: #bebebe;
        text-align: center;
        font-weight: bold;
    }

.CurtainsShopPhoto{
    
}

.curtainsNameLine {
    color: rgb(45, 65, 65);
    position: absolute;
    top: 80%;
    width: 100%;
    height: 36px;
    background: rgba(255,255,255, 0.8);
    font-size: 22px;
}

#curtainsSizes input{
    width: 100px;
}
