/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.wrap-normal {
    white-space: normal;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    min-height: 400px; /* Vertically center the text there */
    background-color: #1b1f23;
}

.subscribe {
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

.footer a {
    color: #7f8c8d;
}

    .footer a:hover {
        color: white;
    }


input[type="email"] {
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    color: #cccccc;
    font-size: 16px;
    height: 42px;
    font-family: Tahoma;
    padding-left: 10px;
    padding-right: 10px;
    width: 270px;
}

    input[type="email"]:focus {
        color: #000000;
        border: 1px solid #000000
    }
input[type="submit"] {
    border: 1px solid #cccccc;
    height: 41px;
    background-color: #dc9c6b;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

.pt-30px{
    padding-top: 30px;
}

.pl-40px{
    padding-left: 40px;
}
