/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    //position: relative;
    height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;
    font-family: 'SofiaProRegular' !important;
    overflow-y: hidden;*/
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.navbar-collapse.collapse {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.subscribe {
    background-color: #f2f2f2;
}

/*.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    min-height: 400px; /* Vertically center the text there */
background-color: #1b1f23;
}

*/.footer {
    grid-row-start: 2;
    grid-row-end: 3;
    min-height: 400px; /* Vertically center the text there */
    background-color: #1b1f23;
}

.footer {
    width: 100%;
    white-space: nowrap;
    min-height: 400px; /* Vertically center the text there */
    background-color: #1b1f23;
}

li {
    list-style-type: none;
}


.navbar-nav {
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    margin-bottom: -4px;
    text-align: left;
    float: none;
}
/*basic*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul {
    margin: 0;
}
a:hover {
    text-decoration: none;
}
/*header*/
.caret-down {
    margin-left: 2px;
    color: #343a40;
}
.basket {
    display: flex;
    padding-top: 5px;
}
#basket-sum {
    margin-left: 15px;
    line-height: 30px;
}
.basket-icon {
    color: #1b1f23;
    position: relative;
}
#basket-count {
    position: absolute;
    text-align: center;
    color: #fff;
    z-index: 1;
    top: -3px;
    right: -7px;
    background-color: #ffb5a0;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    font-size: 10px;
}
.smallDevice-header {
    display: none;
}
.nav-menu ul li a {
    padding-right: 15px;
}
.bigDevice-header, .smallDevice-header {
    background-color: rgba(242,242,242,0.9);
    height: 60px;
}
.nav-brand {
    color: #1b1f23;
}
.bigDevice-header {
    padding-top: 10px;
}
@media only screen and (max-width : 570px) {
    .smallDevice-header {
        display: block;
    }

    .bigDevice-header {
        display: none;
    }

    .navbar-collapse {
        background-color: rgba(242,242,242,0.9);
    }

    .navbar-nav {
        text-align: center;
    }

}

.nav-brand, .navbar-brand {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1px;
}


.subscribe {
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

li {
    list-style-type: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

.footer a {
    color: #7f8c8d;
}

    .footer a:hover {
        color: white;
    }


input[type="email"] {
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    color: #cccccc;
    font-size: 16px;
    height: 42px;
    font-family: Tahoma;
    padding-left: 10px;
    padding-right: 10px;
    width: 270px;
}

    input[type="email"]:focus {
        color: #000000;
        border: 1px solid #000000
    }

input[type="submit"] {
    border: 1px solid #cccccc;
    height: 41px;
    background-color: #dc9c6b;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
}


.pt-30px {
    padding-top: 30px;
}

.pl-40px {
    padding-left: 40px;
}

.wrap-normal {
    white-space: normal;
}

.CRUD-container {
    padding-top:60px;
    padding-bottom:60px;
}
.CRUD-container img {
    max-width: 600px;
    max-height: 500px;
}
/*choose style page*/
.product_description {
    text-align: center;
    margin: 50px auto;
}
.product_heading {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    text-transform: none;
    line-height: 1.5;
    color: #333333;
    letter-spacing: 0px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
}
.product_description p {
    font-size: 22px;
}
/*progress bar*/
.progressBar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.progressBar_container li {
    list-style-type: none;
    z-index: 1;
}
.progressBar_step {
    background-color: #fff;
    border-radius: 50%;
    height: 25px;
    line-height: 30px;
    width: 25px;
}
#orderProgressBar {
    background-color: #f3f3f3;
    padding: 20px 0px 40px;
}
.progressBar_step-text {
    font-size: 20px;
}
.progressBar_container li:not(:nth-child(5)) .progressBar_step-text {
    margin-left: -5px;
}

.progressLine {
    position: absolute;
    height: 1px;
    width: calc(100% - 50px);
    background: #ccc;
    bottom: 70%;
}

.active_step {
    background-color: #ffb5a0;
}

.completed_step {
    background-color: #3CB371;
}