@{
    ViewData["Title"] = "Вход";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid bg-contacts">
    <div class="container contacts-container">

        <h2 class="centr-container mt-4 mb-4">Контакты</h2>

        <div class="pt-4 f-16">
            <div class="row centr-container">
                <span class="col-2 text-secondary">Телефон:</span>
                <span class="col-8">+380 (96) 8770047</span>
            </div>
            <div class="row centr-container">
                <span class="col-2 text-secondary">Email:</span>
                <span class="col-8">mary.oguz@gmail.com</span>
            </div>
            <div class="row centr-container">
                <span class="col-2 text-secondary">Адрес:</span>
                <span class="col-8">Одесса, Большая Арнаутская 55а, 204</span>
            </div>
        </div>
    </div>
</div>