@model Oguz.Models.Style

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h1>Добавление Стиля</h1>
<div><a class="btn btn-backtolist mt-4 mb-1" role="button" asp-action="Index">Назад к списку</a></div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label class="col-4">Категория: </label>
                <select asp-for="Category" class="form-control col-8">
                    <option value="@Category.Curtains">Шторы</option>
                    <option value="@Category.Shades">Гардины</option>
                    <option value="@Category.Pillows">Подушки</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="control-label col-4">Название: </label>
                <input asp-for="Name" class="form-control col-8" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="control-label col-4">Описание: </label>
                @Html.TextAreaFor(m => m.Description, new { @class = "col-8 form-control" })
            </div>
            <div class="form-group row">
                <label class="control-label col-4">Показывать на сайте?</label>
                <input type="checkbox" asp-for="Active" class="form-control col-8" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="control-label col-4">Фото: </label>
                <input type="file" class="col-8" name="image" />
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


