@model IEnumerable<Oguz.Models.Style>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}



<div class="CRUD-container">
    <div style="padding-left:15px">
        <h1>Стили</h1>
        <div><a class="btn btn-primary mt-4 mb-1" role="button" asp-action="Create">Добавить Стиль</a></div>
    </div>

    <table class="table table-striped ">
        <thead class="thead-dark">
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Категория
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
