@model IEnumerable<Oguz.Models.Brand>

@{
    ViewData["Title"] = "Бренды";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="CRUD-container">
    <div style="padding-left:15px">
        <h1>Бренды</h1>
        <div><a class="btn btn-primary mt-4 mb-1" role="button" asp-action="Create">Добавить Бренд</a></div>
    </div>
    <div class="col-5 pt-4">
        <table class="table table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Название
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
