@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="loginContainer">

            <div class="ml-2 mb-4 pb-3">
                <div class="centr-container"><h2>Регистрация</h2></div>
            </div>

            <section id="loginForm">
                <form method="post" asp-controller="Account" asp-action="Register">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row">
                        <label class="control-label col-4 mt-3">Email: </label>
                        <input asp-for="Email" type="email" class="form-control col-7" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-4 mt-3">Пароль: </label>
                        <input asp-for="Password" class="form-control col-7" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-4">Повтор пароля: </label>
                        <input asp-for="PasswordConfirm" class="form-control col-7" />
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>

                    <div class="centr-container">
                        <input type="submit" value="Отправить" />
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>