@model Oguz.Models.Discount

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
<div class="CRUD-container">
    <div>
        <h1>Изменение скидки</h1>
        <div><a class="btn btn-backtolist mt-4 mb-1" role="button" asp-action="Index">Назад к списку</a></div>
        <br />
    </div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label class="control-label"> Название</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Погонные метры</label>
            <input asp-for="LinearMeters" class="form-control" />
            <span asp-validation-for="LinearMeters" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Скидка (%)</label>
            <input asp-for="Value" class="form-control" />
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
            </label>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>