@model Oguz.Models.Material

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="CRUD-container">
    <div>
        <h1>Изменение Аксессуара</h1>
        <div><a class="btn btn-backtolist mt-4 mb-1" role="button" asp-action="Index">Назад к списку</a></div>
        <br />
    </div>
    <form asp-action="Edit" enctype="multipart/form-data">
        <div class="row pt-30px">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label class="control-label col-4">Бренд: </label>
                    @Html.DropDownListFor(model => model.BrandId, ViewBag.Brands as SelectList, new { @class = "form-control col-7" })
                </div>
                <div class="form-group row">
                    <label class="control-label col-4">Название: </label>
                    <input asp-for="Name" class="form-control col-7" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label class="control-label col-4">Описание: </label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "col-7 form-control" })
                </div>
                <div class="form-group row">
                    <label class="control-label col-4">Стркуктура: </label>
                    <input asp-for="FabricStructure" class="form-control col-7" />
                    <span asp-validation-for="FabricStructure" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label class="control-label col-4">Ширина: </label>
                    <input type="number" asp-for="Size.Width" class="form-control col-7" required />
                </div>
                <div class="form-group row">
                    <label class="control-label col-4">Высота: </label>
                    <input type="number" asp-for="Size.Height" class="form-control col-7" required />
                </div>
                <div class="form-group row">
                    <label class="control-label col-4">Стоимость: </label>
                    <input type="number" asp-for="Cost" class="form-control col-7" required />
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label class="control-label col-4">Новое фото: </label>
                    <input type="file" class="col-7" name="image" style="margin-left:-15px" />
                </div>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="custom-control custom-checkbox col">
                        <input type="checkbox" asp-for="Active" class="custom-control-input" id="defaultUnchecked">
                        <label class="custom-control-label" for="defaultUnchecked">Показывать на сайте</label>
                    </div>
                </div>
                <div class="form-group row mt-4">
                    <label class="control-label col-4"></label>
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>

            </div>
            <div class="col-6">
                <img src='~/Images/Accessories/@Model.ImageName' />
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ImageName" />
            </div>
        </div>
    </form>
</div>