<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Oguz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Oguz</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @*<partial name="_LoginPartial" />*@
                    <ul class="navbar-nav flex-grow-1 ">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Образцы</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Купить
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Шторы</a>
                                <a class="dropdown-item" href="#">Гардины</a>
                                <a class="dropdown-item" href="#">Подушки</a>
                                <a class="dropdown-item" href="#">Акссесуары</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Скидки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="subscribe">
            <div class="container text-center">
                <h2>Подпишись</h2>
                <div class="wrap-normal">Просто введи email чтобы получать уведомления о новых коллекциях и распродажах</div>
                <br />
                <input type="email" class="contact_email" name="contact[email]" required="" placeholder="Enter your email address...">
                <input type="submit" class="action_button sign_up" value="ОК">
            </div>
        </div>
        <div class="container pt-4">
            <div class="row pb-4 d-flex justify-content-center">

                <div class="col">
                    <h3 class="pb-3 pt-2 pl-40px">Logo</h3>
                    &copy; 2020 - Oguz - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>

                <div class="col">
                    <h3 class="pb-3 pt-2">Магазин</h3>
                    <ul>
                        <li><a href="">Шторы</a></li>
                        <li><a href="">Гардины</a></li>
                        <li><a href="">Подушки</a></li>
                        <li><a href="">Акссесуары</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h3 class="pb-3 pt-2 ">Бренды</h3>
                    <ul>
                        <li><a href="">Sarlas in Style</a></li>
                        <li><a href="">Casari design</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="pb-3 pt-2">Контакты</h3>
                    <ul>
                        <li><a href="">email</a></li>
                        <li><a href="">Телефон</a></li>
                        <li><a href="">Адрес</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
